
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

html,body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 10%;
    align-items: center;
    font-family: 'Mandali', sans-serif;
    font-weight: 600;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}

.title{
    padding-bottom: 20%;
    font-family: 'Mandali';
}

.qcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBar{
    width: 100%;
    transition: all 0.3s ease;
}

.container{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.word{
    background-color: yellow;
}

.question{
    padding: 20px;
}

.wrapper{
    display: flex;
    background: #fff;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"]{
    display: none;
}


#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-4:checked:checked ~ .option-4 .dot{
    background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-4:checked:checked ~ .option-4 .dot::before{
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span{
    font-size: 20px;
    color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#option-4:checked:checked ~ .option-4 span{
    color: #fff;
}

.scoreMenu{
    display: none;
    position: absolute;
    top: 100px;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.308);
}

span#procent {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: #3949AB;
}
  
span#procent::after {
    content: '%';
}
  
.canvas-wrap {
    position: relative;
    width: 300px;
    height: 300px;
}